<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Project Management App">
    <title>Project Management App - New Task</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{ url_for('static',filename='scripts/activity.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap CSS + Local css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/styles.css?v=<?php echo time(); ?>"> -->
</head>

<!-- Navbar -->
<section id="the-navbar">
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="">Chello App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-links" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item mr-auto">
          <a class="nav-link" href="{{url_for('index')}}">Home</a>
        </li>
        <li class="nav-item mr-auto">
          <a class="nav-link" href="{{url_for('get_projects')}}">Projects</a>
        </li>
        <li class="nav-item mr-auto">
            <!-- need to create a app.route for sign up page -->
          <a class="nav-link" href="{{url_for('index')}}">Sign Up</a>
        </li>

      </ul>
    </div>
  </nav>
</section>

<body>
  <main>
        {% if task %}
        <form action="" method="post">
            {% else %}
            <form action="newTask" method="post">
                {% endif %}
                <div class="formwrapper">
                    <h2 class="title">Add a Task</h2>
                        <div class="form-field">
                            {{ form.task.label }} <br/> {{ form.task }}
                        </div>
                    {{ form.submit }}
                </div>
        </form>
\
  </main>
</body>
</html>
