<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <nav id="nav">
            <a href="{{url_for('index')}}"> Home</a> ||
            <a href="{{url_for('get_projects')}}"> Projects</a> ||
            <a href="{{url_for('new_project')}}"> New Project</a> ||

    </nav>

    <h1>{{projects.title}}</h1>
    <h2>{{projects.text}}</h2>
    <h3><a href="{{url_for('new_task',project_id=projects.id)}}">Create Task</a></h3>
        <table>
            <tr>
                <th>Tasks</th>
                <th>Date</th>
            </tr>
            <tr>
                {% if projects.tasks %}
                    {% if projects.tasks|length > 0 %}
                        {% for task in projects.tasks %}
                            <td>{{ projects.tasks.title }}</td>
                            <td>{{ projects.tasks.date }}</td>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </tr>
        </table>



</body>
</html>
