#homepage-image{
  height: 400px;
  width: 60%;
  border-radius:25px;
}

#nav{
  background-color: black;
  font-family: 'Poppins', sans-serif;
  text-shadow: -1px 1px lightgray;
  text-align: center;
}

.sign-up{
  margin-top: 15%;
  width: 20%;
  margin-left: 40%;
  background-color: #348898;
}

.liveChat{
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 500px;
  width: 250px;
  background-color: #66B2FF;
  border-radius:25px;
}

.question1:hover{
  cursor: pointer;
}
.question2:hover{
  cursor: pointer;
}
.question3:hover{
  cursor: pointer;
}

body{
  text-align: center;
  background-color:#212121;
  color:white;
}

h1{
  font-family: 'Poppins', sans-serif;
  text-shadow: -1px 1px lightgray;
  text-align: center;
  font-size: larger;
}

h1{
  font-family: 'Poppins', sans-serif;
  text-shadow: -1px 1px lightgray;
  text-align: center;
  font-size: large;
  text-color: white;
  text-background: white;
}

main{

  background-color:#212121;
  color:white;
  text-align: center;
}
.projects, .tasks{
    margin-left: auto;
    margin-right: auto;
}

:root{
 background-color:#212121
}
