#homepage-image{
  height: 450px;
  width: 80%;
  border-radius:25px;
}

#nav{
  background-color: black;
  font-family: 'Poppins', sans-serif;
  text-shadow: -1px 1px lightgray;
  text-align: center;
}

.sign-up{
  margin-top: 15%;
  width: 20%;
  margin-left: 40%;
  background-color: #348898;
}

.liveChat{
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 500px;
  width: 250px;
  background-color: #66B2FF;
  border-radius:25px;
}


body{
  text-align: center;
  background-color:antiquewhite;
  height: 100%;
  width: 100%;

}

h1{
  font-family: 'Poppins', sans-serif;
  text-shadow: -1px 1px lightgray;
  text-align: center;
  font-size: larger;
}

h1{
  font-family: 'Poppins', sans-serif;
  text-shadow: -1px 1px lightgray;
  text-align: center;
  font-size: large;
}

main{

  background-color:antiquewhite;
  text-align: center;
}

.projects, .tasks{
    margin-left: auto;
    margin-right: auto;
}

:root{
    background-color:antiquewhite;
}
